<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <meta-data android:name="Mob-AppKey" android:value="76684bc49b3"/>
        <meta-data android:name="Mob-AppSecret" android:value="cc162a0c24a4928e215a4b99ceffb425"/>
    </application>

</manifest>